.pre_section {
  margin-bottom: 50px;
}

th {
  font-size: 25px !important;
}

tbody {
  tr {
    td {
      font-size: 20px !important;
    }
  }
}

.container {
  max-height: 600px;
}

.pre_spinner {
  margin: 50px;
}