.humantic {
  display: flex;
  margin-left: 20px;
  text-overflow: hidden;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  width: 33.3%;
  justify-content: flex-start;
  background-color: white;
  button {
    margin-top: 10px;
    margin-left: 20px;
  }
  &_spinner {
    margin-top: 40px;
  }
}
