.head {
  th {
    padding-left: 25px;
    font-size: 20px;
  }
}

.metrics {
  margin-top: 100px;
}

.modal {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  &_container {
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 600px;
    height: 350px;
    overflow-y: auto;
    background-color: white;
    padding: 20px;
  }
}

.add_user {
  margin-left: auto !important;
  font-size: 20px !important;
  height: 40px !important;
  margin-top: 15px !important;
}

.right {
  margin-left: auto;
  width: 100px;
}

.users_spinner {
  max-width: 50px;
}

.analyzes_spinner {
  margin-top: 140px;
  margin-left: 275px;
}